.idea
.project
*.json
aws-*.secrets

.conjurrc
.netrc
conjur-conjurops.pem

.vagrant
Berksfile.lock
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~

# Bundler
Gemfile.lock
bin/*
.bundle/*

.kitchen/
.kitchen.local.yml
